{
  "connection_id": "conn003",
  "tags": [
    {
      "name": "Tag0004",
      "plc_tag_name": "PLC_Tag0005",
      "datatype": "float32",
      "scan_ms": 1000,
      "writable": true,
      "mqtt_command_allowed": true
    },
    {
      "name": "Tag0001",
      "plc_tag_name": "PLC_Tag0006",
      "datatype": "bool",
      "scan_ms": 500,
      "writable": true,
      "mqtt_command_allowed": true,
      "log_event_on_change": false
    },
    {
      "name": "Tag0002",
      "plc_tag_name": "PLC_Tag0007",
      "datatype": "int16",
      "scan_ms": 1000,
      "writable": true,
      "mqtt_command_allowed": true
    },
    {
      "name": "Tag0003",
      "plc_tag_name": "PLC_Tag0008",
      "datatype": "int16",
      "scan_ms": 1000,
      "writable": true,
      "mqtt_command_allowed": true
    }
  ]
}
